# Flask
SECRET_KEY=change-me-to-a-very-long-random-string-min-32-chars-please
FLASK_DEBUG=True

# PostgreSQL (должны совпадать с compose.yaml)
POSTGRES_DB=image_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=admin  # ← в реальности смени на сильный пароль!

# Опционально (Flask сам подхватит)
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}